BETTER_AUTH_URL=
NEXT_PUBLIC_BASE_URL=
TRUSTED_ORIGINS=
MONGODB_URI=
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
RESEND_API_KEY = 
EMAIL_FROM = 
NEXT_PUBLIC_BASE_URL=
# AWS S3 Configuration
AWS_ACCESS_KEY_ID = 
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
S3_BUCKET_NAME=

# Public S3 URL
NEXT_PUBLIC_S3_DATA_URL=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_URL=



# COUNTRIES_CITIES_API_KEY=1a5c23d49b3ba6ce10b92277651de940a4f72b23a8f856ed24085b3df1dca7f1
COUNTRIES_CITIES_API_KEY=
https://github.com/dr5hn/countries-states-cities-database